<div class="text_padding">
  <h1 align="center">Тема: {{orders.name}}</h1>
  <div>
    <p *ngIf="orders.done == true">Статус: Выполнено {{orders.executed}} {{begin()}}</p>
    <p *ngIf="orders.done == false">Статус: Не выполнено</p>
  </div>
  <p>Создано:{{orders.crate}}</p>
  <p>Создал:{{orders.creator.lastName + ' ' + orders.creator.firstName + ' ' + orders.creator.middleName}}</p>

  <div *ngFor="let item of orders.executor">
    Должен исполнить: {{item.lastName + ' ' + item.firstName + ' ' + item.middleName}}
  </div>

  <p>Описание:  {{orders.text}}</p>
  <div class="grid">
    <label [attr.href]="app.serverURL +  item.img" *ngFor="let item of orders.imgs" class="grid-item"><a
      [href]="app.serverURL +  item.img">
      <img id="statya" (click)="href('111111')" style="height: auto; width: 400px"
           [src]="app.serverURL +  item.img"/>
      <p>{{item.name}}</p>
    </a>

    </label>
  </div>

  <div class="main inline">
    <a style="width: 100%" [href]="app.serverURL + 'task/download/'+ orders.id">
      <button style="width: 100%" class="ld-but">Скачать всё</button>
    </a>


    <div [hidden]="isUserEx()">
      <p></p>
      <button style="width: 100%" *ngIf="!orders.done" class="ld-but" (click)="exComplete()">Отметить как выполненное
      </button>
    </div>
    <p></p>

    <div *ngIf="orders.done && !orders.doneCrate" [hidden]="!isUserCre()">
      <button style="width: 100%" class="ld-but" (click)="creComplete(1)">Подтвердить выполнение</button>
    </div>
    <p></p>
    <div *ngIf="orders.done && !orders.doneCrate" [hidden]="!isUserCre()">
      <button style="width: 100%" class="ld-but" (click)="creComplete(0)">Опровергнуть выполнение</button>
    </div>
  </div>
</div>

<div id="html-chat">
  <div class="holder-html-chat">
    <div id="WebChatFormForm" class="html-chat-history">
      <div *ngFor="let ms of orders.massages">
        <p>@>{{ms.user.lastName}} {{ms.user.firstName}} {{ms.user.middleName}}</p>
        <div *ngIf="ms.imgs != null">
          <div *ngFor="let img of ms.imgs ">
            <a [href]="app.serverURL + img.img">
              <div class="grid">
                <img style="height: auto; width: 400px" [src]="app.serverURL + img.img">
              </div>
            </a>
          </div>
        </div>


        <p>{{ms.text}}</p>
      </div>


    </div>
    <textarea [(ngModel)]="massage.text" style="width: 100%"
              id="WebChatTextID" placeholder="Отправьте сообщение в online чат..."
              class="html-chat-js-input"></textarea>
    <div>
      <button (click)="web_send_msg();" class="ld-but">Отправить</button>
      <input type="file"
             id="file"
             name="file"
             (change)="handleFileInput($event.target.files)" multiple>
    </div>
  </div>
</div>
